@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

body, html{
    width: 100%;
    max-width: 1024px;
    height: 100%;
}

h1{
    font-size: 4em;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    padding: 4px;
    text-shadow: 2px 2px 4px #0cf25da0;
}

h2{
    margin: 5px;
    padding: 3px;
    font-size: 3em;
    font-style: italic;
    text-align: justify;
    text-shadow: 2px 2px 4px #0cf25da0;
}

p{
    margin: 10px;
    padding: 5px;
    font-size: 2em;
    text-align: justify;
    color: #034159;
}