@charset "utf8";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html
{
    width: 100%;
    max-width: 1024px;
    height: 90vh;
    background-color: #8856FA;
}

header
{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 20px;
    padding: 10px;
    width: 98vw;
}

.cab
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.logo h1
{
    margin: 5px;
    padding: 5px;
    font-size: 3rem;
    font-style: italic;
    text-shadow: 4px 3px 2px #0a0a0a;
    color: #94E66E;
}

.menu nav ul
{
    display: flex;
    margin: 10px;
    padding: 5px;
    list-style: none;
    font-size: 1.2rem;
}

.nav li a
{
    margin: 5px;
    font-style: italic;
    text-decoration: none;
    text-shadow: 4px 3px 2px #0a0a0a;
    color: #94E66E;
}

.nav a:hover
{
    text-decoration:underline;
}

#artigo
{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 20px;
    padding: 10px;
    width: 96vw;
}

.cont-hist
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 10px;
}

.cont-hist h1
{
    margin: 10px;
    padding: 5px;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    text-shadow: 4px 3px 2px #0a0a0a;
    font-family: 'Rancho', cursive;
    color: #94E66E;
}
.cont-hist p
{
    margin: 5px;
    padding: 2px;
    font-size:2rem;
    font-style: italic;
    text-align: justify;
    text-shadow: 4px 1px #0a0a0a;
    font-family: 'Rancho', cursive;
    color: #94E66E;
}

.text
{
    margin: 10px;
    padding: 5px;
}

.img
{
    width: 50vw;
}

.img img
{
    width: 30vw;
    border-radius: 250px;
    box-shadow: 4px 3px #0a0a0a;
}

.galeria
{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.galeria h1
{
    margin: 10px;
    padding: 5px;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    text-shadow: 4px 3px 2px #0a0a0a;
    font-family: 'Rancho', cursive;
    color: #94E66E;
}

.titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    margin: 10px;
}

.fotos
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    margin: 10px;
}

.foto
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 50vw;
}

.foto img
{
    width: 100px;
    box-shadow: 4px 3px #0a0a0a;
    border-radius: 200px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.foto img:hover
{
    width: 200px;
    margin: 3px;
    box-shadow: 4px 3px #03a686;
}

.titulo
{
    margin: 10px;
    padding: 5px;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    text-shadow: 4px 3px 2px #0a0a0a;
    font-family: 'Rancho', cursive;
    color: #94E66E;
}