@charset "utf8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background-color: rgb(86, 60, 110);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
    margin: 20px;
    padding: 5px;
    text-shadow: 3px 2px black;
    color: rgb(148, 241, 207);
}

h1#principal
{
    margin: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 3px 2.5px black;
    color: rgb(86, 60, 110);
    background-color:rgb(148, 241, 207);
}

h2
{
    margin: 20px;
    padding: 5px;
    text-align: center;
    text-shadow: 3px 2px black;
    color: rgb(57, 250, 186);
}

p
{
    margin: 15px;
    padding: 10px;
    text-align: justify;
    text-shadow: 3px 2px black;
    font-style: italic;
    color: white;
}

.basico
{
    color: rgb(74, 143, 120);
}

.intermediario
{
    color: rgb(132, 143, 74);
}

.avancado
{
    color: rgb(143, 94, 74);
}